#bizsignals, .bizsignals {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	width: 100%;
	padding: 30px;
	background-color: rgba(255,255,255, 0.6);
	box-sizing: border-box;
	justify-content: center;
}

@media screen and (min-width:641px) { 
	#bizsignals, .bizsignals {
		width: 30%;
	}
}

.bizsignal {
	width: 120px;
	font-size: 1rem;
}
img.bizsigimg {
	width: 100%;	
}
.bizsigname {
	margin-top: 0;
	line-height: 1.1;
	font-size: .75em;
	text-align: center;
}